<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  <title>ログイン</title>

  
</head>
<body>
<div class="login-box">
  <h1>ログイン</h1>

  <input type="text" id="loginId" placeholder="メールアドレス">
  <input type="password" id="loginPw" placeholder="パスワードを入力">

  <div id="loginError" style="color: red; margin-top: 8px;"></div>

  <button onclick="login()">ログイン</button>
</div>

<script>
async function login() {
    const email = document.getElementById("loginId").value;
    const password = document.getElementById("loginPw").value;

    const res = await fetch("/login", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            email: email,
            password: password
        })
    });

    const data = await res.json();

    if (data.message === "ok") {
        location.href = "/profile";
    } else if (data.message === "no_user") {
        document.getElementById("loginError").innerText = "ユーザーが存在しません";
    } else if (data.message === "wrong_pw") {
        document.getElementById("loginError").innerText = "パスワードが違います";
    }
}
</script>

</body>
</html>